body {
  background-color: #ffffff;
  font-family: Poppins-Regular;
  margin: 0px;
  height: 100%;
  position: relative;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
strong {
  font-family: Poppins-SemiBold;
}
/* nav */
.header-content {
  height: 104px;
  background: #fff;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0px 8px 20px rgba(183, 183, 183, 0.15);
}
.header-content.dark{
  background: transparent;
  box-shadow: none;
}
.bg-afterScroll{
  background: #0D0D0D;
  animation: bgas 2s ease;
  animation-fill-mode: forwards;
}
@keyframes bgas {
  from {
    background: transparent;
  }
  to {
    background: #0D0D0D;
  }
}
.bg-afterScrollrv{
  background: #0D0D0D;
  animation: bgasrv 2s ease;
  animation-fill-mode: forwards;
}
@keyframes bgasrv {
  from {
    background: #0D0D0D;
  }
  to {
    background: transparent;
  }
}
.header-content.dark{
  position: sticky;
  top: 0px;
  width: 100%;
}
.animHeader{
  position: relative;
  animation: topmove 2s ease;
  animation-fill-mode: forwards;
}
@keyframes topmove {
  from {
    top: 0px;
  }
  to {
    top: -107px;
  }
}
.animHeaderRever{
  position: sticky;
  animation: topmoveRever 2s ease;
  animation-fill-mode: forwards;
}
@keyframes topmoveRever {
  from {
    top: -107px;
  }
  to {
    top: 0px;
  }
}
.cntHead {
  max-width: 1180px;
  margin: 0 auto;
  height: 104px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.header-content.dark .cntHead {
  background: transparent;
}
.header-content .logo-header {
  padding-left: 0px;
  padding-right: 15px;
}
.responsive-burger {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.responsive-burger .top,
.responsive-burger .mid,
.responsive-burger .bot {
  height: 3px;
  background: #757575;
  position: absolute;
  width: 25px;
  left: 0;
  transition: all 300ms;
  border-radius: 12px;
}
.responsive-burger .top {
  margin: 0;
}
.responsive-burger .mid {
  top: 9px;
  transform: all 150ms;
}
.responsive-burger .bot {
  top: 18px;
}
/* .responsive-burger:hover .mid, */
.responsive-burger.active .mid {
  opacity: 0;
  width: 0;
}
/* .responsive-burger:hover .top, */
.responsive-burger.active .top,
/* .responsive-burger:hover .bot, */
.responsive-burger.active .bot {
  margin-top: 0.666667em;
}
/* .responsive-burger:hover .top, */
.responsive-burger.active .top {
  transform: rotate(45deg);
}
/* .responsive-burger:hover .bot, */
.responsive-burger.active .bot {
  transform: rotate(-45deg);
  top: 0;
}
.btn-nav {
  margin-left: auto;
  padding-right: 15px;
}
.left-navbar {
  position: absolute;
  display: none;
  left: -391px;
  box-shadow: 9px 0px 20px rgba(183, 183, 183, 0.15);
  transition: all ease-in 0.3s;
  -webkit-transition: all ease-out 0.5s;
}
.header-content.dark + .left-navbar{
  position: fixed;
}
.left-navbar.active {
  left: 0px;
}
.case-study-relative {
  position: relative;
}
.screen-block {
  position: absolute;
  display: none;
  opacity: 0;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
}

.tr-ul li > a {
  color: #00263d;

}
.tr-ul li > a:hover, .tr-ul li .btn-nav__active{
  color: #006099;
  border-bottom: 2px solid #006099;
}
.dark .tr-ul li > a {
  color: #ffffff;
}
.btn-nav > ul.tr-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
}
.btn-nav > ul.tr-ul > li {
  padding: 0 15px;
  position: relative;
}
.btn-nav > ul.tr-ul > li .menu-desplegable {
  display: none;
  position: absolute;
  top: 70px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 50;
}
.btn-nav > ul.tr-ul > li:last-child {
  padding-right: 0px;
}
.btn-nav > ul.tr-ul > li:first-child {
  padding-left: 0px;
}
.bot-side-nav a {
  background: #c41a90;
  border-radius: 8px 16px 16px 56px;
  padding: 6px 24px;
}
.side-nav {
  padding-right: 0px;
  text-align: right;
}
.menu-desplegable.m-servicios {
  width: 974px;
  height: 298px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu-desplegable.m-servicios::after {
  content: "";
  position: absolute;
  top: -6px;
  width: 20px;
  height: 20px;
  left: 49%;
  -webkit-transform: translateX(-49%);
  transform: translateX(-49%);
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: #ffffff;
  z-index: -1;
}
.contenedor-menu-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
.contenedor-menu-nav > div:first-child {
  width: 256px;
  height: 298px;
  background: #eceff1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.contenedor-menu-nav > div:first-child > span {
  color: #212121;
  text-align: center;
}
.contenedor-menu-nav > div:first-child > a {
  margin-top: 12px;
  padding: 6px 24px;
  color: #c41a90;
  border: 1px solid #c41a90;
  border-radius: 20px 100px 100px 170px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.contenedor-menu-nav > div:first-child > a:hover {
  color: white;
  background-color: #c41a90;
}
.contenedor-menu-nav .ser-tab-menu {
  width: 334px;
  height: 298px;
  padding: 32px;
  border-right: 1px solid #eceff1;
}
.ser-tab-menu li {
  cursor: pointer;
  color: #212121;
  padding: 16px;
  border-left: 4px solid transparent;
  transition: all ease 0.2s;
}
.ser-tab-menu li:hover {
  color: #006099;
  border-left: 4px solid #006099;
}
.ser-tab-menu li.active {
  border-left: 4px solid #006099;
}
.content-ul-stm li {
  display: none;
}
.content-ul-stm li.active {
  display: block;
}
.content-ul-stm li > a.active{
  color: #006099;
  position: relative;
}
.content-ul-stm li > a.active:before{
  position: absolute;
  content: "";
  width: 2px;
  height: 10px;
  background: #006099;
  left: 24px;
  top: 4px;
}
.contenedor-menu-nav > div:last-child {
  width: 381px;
  padding: 16px 26px;
}
.content-ul-stm li > div {
  display: flex;
  padding-bottom: 15px;
}
.content-ul-stm li > div > img {
  margin-right: 10px;
}
.content-ul-stm li > div > p {
  border-bottom: 1px solid #eceff1;
  padding: 8px 0;
  width: 100%;
}
.content-ul-stm li > a {
  color: #212121;
  padding: 0px 0 8px 30px;
  display: block;
}
.content-ul-stm li > a:hover {
  border-bottom: 0px solid #006099;
}
.menu-desplegable.m-industria {
  width: 593px;
  height: 298px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu-desplegable.m-industria::after {
  content: "";
  position: absolute;
  top: -6px;
  width: 20px;
  height: 20px;
  left: 48%;
  -webkit-transform: translateX(-48%);
  transform: translateX(-48%);
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: #ffffff;
  z-index: -1;
}
.cont-ind-m {
  display: flex;
}
.cont-ind-m > div:first-child {
  position: relative;
  background-color: #263238;
  width: 256px;
  height: 298px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}
.cont-ind-m > div:first-child > p {
  position: absolute;
  bottom: 26px;
  color: #fafafa;
  padding: 16px 12px 16px 16px;
}
.cont-ind-m > div:first-child > a {
  position: absolute;
  bottom: 0px;
  color: #fff;
  padding: 0px 12px 16px 16px;
}
.cont-ind-m > div:last-child {
  display: flex;
  padding: 32px;
  flex-direction: column;
}
.cont-ind-m > div:last-child > a {
  color: #212121;
  padding: 15px 0;
}
.cont-ind-m > div:last-child > a:hover {
  color: #006099;
}


.menu-desplegable.m-talento {
  width: 593px;
  height: 197px;
  left: 50%;
  -webkit-transform: translateX(-70%);
  transform: translateX(-70%);
}
.menu-desplegable.m-talento::after {
  content: "";
  position: absolute;
  top: -6px;
  width: 20px;
  height: 20px;
  left: 68%;
  -webkit-transform: translateX(-48%);
  transform: translateX(-48%);
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: #ffffff;
  z-index: -1;
}
.cont-talent-m {
  display: flex;
}
.cont-talent-m div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cont-talent-m div:first-child a {
  border: 1px solid #c41a90;
  border-radius: 26px 136px 136px 235px;
  padding: 6px 24px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.cont-talent-m div:first-child a:hover {
  background-color: #c41a90;
  color: white;
}
.cont-talent-m div:last-child {
  display: flex;
  flex-direction: column;
}
.cont-talent-m div:last-child a {
  color: #212121;
  padding: 16px;
}
.top-side-nav {
  display: flex;
  position: relative;
}
.top-side-nav > a:first-child {
  display: flex;
  align-items: center;
  color: #212121;
}
.top-side-nav > a.es-btn {
  color: #212121;
  display: flex;
  align-items: center;
}
.top-side-nav > .a.es-btn > img {
  width: 8px;
  height: 6px;
}
.top-side-nav > .select-lang {
  position: absolute;
  display: none;
  right: 0;
  top: 22px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 15%);
  border-radius: 4px;
  min-width: 125px;
}
.select-lang > a {
  color: #424242;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  transition: all ease 0.2s;
}
.select-lang > a > img {
  width: 11.17px;
  height: 8.38px;
  opacity: 0;
  transition: all ease 0.2s;
}
.select-lang > a:hover {
  background: #e5eff5;
  color: #006099;
}
.select-lang > a.active > img {
  opacity: 1;
}
.rServicios,
.rIndustria,
.rTalento,
.rIdioma,
.cont-innerMS {
  display: none;
}

.dspnum .slick-arrow{
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  background-color: #003a5c;
  bottom: -60px;
  position: absolute;
  cursor: pointer;
  justify-content: center;  
  align-items: center;
  flex-direction: column;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
}
.dspnum .slick-arrow.left{
  left: 216px;
}
.dspnum .slick-arrow.right{
  left: 280px;
}

@media (min-width: 1441px) {
  .header-content {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .header-content .logo-header {
    padding-left: 0px;
  }
  .side-nav {
    padding-right: 0px;
  }
  .btn-nav > ul.tr-ul{
    margin-top: 8px;
  }
}
@media (max-width: 768px) {
  .header-content {
    height: 80px;
    position: relative;
    z-index: 41;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .cntHead {
    height: 80px;
    width: 66%;
    margin: 0;
  }
  .btn-nav,
  .top-side-nav {
    display: none;
  }
  .responsive-burger {
    display: block;
  }
  .responsive-burger.ml-\[26px\] {
    margin-left: 0;
  }
  .header-content .logo-header {
    padding-left: 0px;
  }
  .left-navbar {
    display: block;
    width: 384px;
    background-color: white;
    top: 80px;
    z-index: 50;
  }
  .left-navbar .first-ul a {
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .left-navbar .first-ul .separador {
    border-bottom: 1px solid #cfd8dc;
    margin: 5px 24px;
  }
  .left-navbar .first-ul a.btn-sp-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .left-navbar .first-ul span {
    color: #00263d;
  }
  .screen-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #0d0d0d;
    opacity: 0.4;
    z-index: 39;
  }
  .screen-block.active {
    display: block;
    height: 100%;
  }
  .rServicios ul > li > a.nb {
    color: #212121;
    display: block;
    padding: 16px;
    border-left: 4px solid transparent;
  }
  .rServicios ul > li > a.nb.active,
  .rServicios ul > li > a.nb:hover {
    border-left: 4px solid #006099;
  }
  .cont-innerMS .innerUl li > a {
    color: #212121;
    padding: 5px 16px 10px 0;
    display: block;
  }
  .cont-innerMS > p.flex > span {
    width: 100%;
    border-bottom: 1px solid #eceff1;
    padding: 8px 0;
  }
  .endServM {
    border-radius: 8px 0px 0px 8px;
    flex-direction: column;
    align-items: center;
  }
  .endServM p {
    color: #212121;
  }
  .endServM a {
    width: 142px;
    height: 34px;
    padding: 6px 24px;
    border: 1px solid #c41a90;
    border-radius: 20px 100px 100px 181px;
  }
  .rIdioma,
  .rTalento,
  .rIndustria,
  .rServicios {
    padding: 26px;
  }
  .rIdioma > ul > li {
    padding: 16px 16px 16px 0;
  }
  .rIdioma > ul > li > a {
    display: flex;
    justify-content: space-between;
  }
  .returnM {
    display: flex;
  }
  .returnM span {
    color: #00263d;
  }
  .rIdioma > ul > li > a > span {
    color: #212121;
  }
  .rIdioma > ul > li > a.active > img {
    opacity: 1;
  }
  .rIdioma > ul > li > a > img {
    width: 12px;
    height: 9px;
    opacity: 0;
  }
  .rTalento > ul > li > a,
  .rIndustria > ul > li > a {
    color: #212121;
    display: block;
    padding: 16px 16px 16px 0;
  }
  .infoTalentM {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background: #eceff1;
    border-radius: 8px 0px 0px 8px;
  }
  .infoTalentM > a {
    background: transparent;
    border-radius: 12px 78px 82px 97px;
    padding: 6px 24px;
    border: 1px solid #c41a90;
  }
  .indContM {
    position: relative;
    width: 329px;
    height: 298px;
    box-shadow: 0px 0px 1.78397px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    background: #37474f;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
  }
  .indContM img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
  .indContM p {
    color: #fafafa;
    z-index: 2;
  }
  .indContM a {
    z-index: 2;
  }
}
@media (max-width: 490px) {
  .left-navbar.active {
    width: 100%;
  }
  .cntHead {
    width: 75%;
  }
  .logo-header > img {
    width: 100px;
  }
  .header-content .logo-header {
    padding-left: 0px;
  }
  .indContM {
    width: 100%;
  }
  .indContM > img {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
/* fin nav */
.nav-tour {
  padding: 11px 24px;
  height: 40px;
  background: #fafafa;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #757575;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-tour span {
  margin-left: 11px;
}
.nav-tour span:first-child {
  margin-left: 0px;
}
.nav-tour .active {
  color: #006099;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
.nav-tour .bcimg {
  margin-left: 11px;
}
@media (max-width: 768px) {
  .nav-tour {
    padding: 11px 24px;
  }
  .nav-tour .content-response-section > span:first-child {
    margin-left: 0px;
  }
}
.cl-gr-9 {
  color: #212121;
}
.cl-gr-8 {
  color: #424242;
}
.cl-gr-7 {
  color: #616161;
}
.cl-gr-50 {
  color: #FAFAFA;
}
.cl-pr-50 {
  color: #e5eff5;
}
.cl-pr-5 {
  color: #006099;
}
.cl-pr-6 {
  color: #004D7A;
}
.cl-pr-7 {
  color: #003a5c;
}
.cl-pr-8{
  color: #145986;
}
.cl-pr-9{
  color: #c9ebff;
}
.cl-sc-7 {
  color: #9d1573;
}
.cl-sc-5 {
  color: #c41a90;
}
.cl-sc-6 {
  color: #9d1573;
}
.cl-ff {
  color: #ffffff;
}
.cl-ba-5 {
  color: #607d8b;
}
.cl-ba-8 {
  color: #37474f;
}

.bg-gr-8 {
  background-color: #424242;
}
.bg-gr-7 {
  background-color: #616161;
}
.bg-gr-6 {
  background-color: #fafafa;
}
.bg-pr-5 {
  background-color: #006099;
}
.bg-pr-50 {
  background-color: #e5eff5;
}
.bg-pr-7 {
  background-color: #003a5c;
}
.bg-pr-6 {
  background-color: #1f7bbd;
}
.bg-sc-7 {
  background-color: #9d1573;
}
.bg-sc-5 {
  background-color: #c41a90;
}
.bg-sc-6 {
  background-color: #9d1573;
}
.bg-ff {
  background-color: #ffffff;
}
.bg-ba-5 {
  background-color: #607d8b;
}
.bg-ba-50 {
  background-color: #eceff1;
}
.bg-ba-8 {
  background-color: #37474f;
}
.bg-ba-9 {
  color: #00304C;
}

.fw-1 {
  font-weight: 100;
}
.fw-2 {
  font-family: Poppins-ExtraLight;
}
.fw-3 {
  font-family: Poppins-Light;
}
.fw-4 {
  font-family: Poppins-Regular;
}
.fw-5 {
  font-family: Poppins-Medium;
}
.fw-6 {
  font-family: Poppins-SemiBold;
}
.fw-7 {
  font-family: Poppins-Bold;
}
.fw-8 {
  font-family: Poppins-ExtraBold;
}
.fw-9 {
  font-family: Poppins-Black;
}

.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-26 {
  font-size: 26px;
}
.fs-27 {
  font-size: 27px;
}
.fs-28 {
  font-size: 28px;
}
.fs-29 {
  font-size: 29px;
}
.fs-30 {
  font-size: 30px;
}
.fs-31 {
  font-size: 31px;
}
.fs-32 {
  font-size: 32px;
}
.fs-33 {
  font-size: 33px;
}
.fs-34 {
  font-size: 34px;
}
.fs-35 {
  font-size: 35px;
}
.fs-36 {
  font-size: 36px;
}
.fs-37 {
  font-size: 37px;
}
.fs-38 {
  font-size: 38px;
}
.fs-39 {
  font-size: 39px;
}
.fs-40 {
  font-size: 40px;
}
.fs-41 {
  font-size: 41px;
}
.fs-42 {
  font-size: 42px;
}
.fs-43 {
  font-size: 43px;
}
.fs-44 {
  font-size: 44px;
}
.fs-45 {
  font-size: 45px;
}
.fs-46 {
  font-size: 46px;
}
.fs-47 {
  font-size: 47px;
}
.fs-48 {
  font-size: 48px;
}
.fs-49 {
  font-size: 49px;
}
.fs-50 {
  font-size: 50px;
}
.fs-51 {
  font-size: 51px;
}
.fs-52 {
  font-size: 52px;
}
.fs-53 {
  font-size: 53px;
}
.fs-54 {
  font-size: 54px;
}
.fs-55 {
  font-size: 55px;
}
.fs-56 {
  font-size: 56px;
}
.fs-57 {
  font-size: 57px;
}
.fs-58 {
  font-size: 58px;
}
.fs-59 {
  font-size: 59px;
}
.fs-60 {
  font-size: 60px;
}
.fs-61 {
  font-size: 61px;
}
.fs-62 {
  font-size: 62px;
}
.fs-63 {
  font-size: 63px;
}
.fs-64 {
  font-size: 64px;
}
.fs-65 {
  font-size: 65px;
}
.fs-66 {
  font-size: 66px;
}
.fs-67 {
  font-size: 67px;
}
.fs-68 {
  font-size: 68px;
}
.fs-69 {
  font-size: 69px;
}
.fs-70 {
  font-size: 70px;
}
.fs-71 {
  font-size: 71px;
}
.fs-72 {
  font-size: 72px;
}
.fs-73 {
  font-size: 73px;
}
.fs-74 {
  font-size: 74px;
}
.fs-75 {
  font-size: 75px;
}
.fs-76 {
  font-size: 76px;
}
.fs-77 {
  font-size: 77px;
}
.fs-78 {
  font-size: 78px;
}
.fs-79 {
  font-size: 79px;
}
.fs-80 {
  font-size: 80px;
}
.fs-81 {
  font-size: 81px;
}
.fs-82 {
  font-size: 82px;
}
.fs-83 {
  font-size: 83px;
}
.fs-84 {
  font-size: 84px;
}
.fs-85 {
  font-size: 85px;
}
.fs-86 {
  font-size: 86px;
}
.fs-87 {
  font-size: 87px;
}
.fs-88 {
  font-size: 88px;
}
.fs-89 {
  font-size: 89px;
}
.fs-90 {
  font-size: 90px;
}
.fs-91 {
  font-size: 91px;
}
.fs-92 {
  font-size: 92px;
}
.fs-93 {
  font-size: 93px;
}
.fs-94 {
  font-size: 94px;
}
.fs-95 {
  font-size: 95px;
}
.fs-96 {
  font-size: 96px;
}
.fs-97 {
  font-size: 97px;
}
.fs-98 {
  font-size: 98px;
}
.fs-99 {
  font-size: 99px;
}

.lh-28 {
  line-height: 28px;
}
.lh-28 {
  line-height: 28px;
}
.lh-32 {
  line-height: 32px;
}
.lh-28 {
  line-height: 28px;
}
.lh-21 {
  line-height: 21px;
}
.lh-20 {
  line-height: 20px;
}
.lh-18 {
  line-height: 18px;
}
.lh-24 {
  line-height: 24px;
}
.lh-28 {
  line-height: 28px;
}
.lh-64 {
  line-height: 64px;
}
.lh-72 {
  line-height: 72px;
}

.cirlcle {
  width: 16px;
  height: 16px;
  display: flex;
  border-radius: 50%;
}
.cirlcle--fuchsia {
  background-color: #9d1573;
}

.flex {
  display: flex;
}

.btn-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 20px 56px 56px 100px;
  cursor: pointer;
}
.card-tab {
  background: rgba(236, 239, 241, 0.3);
  border-radius: 20px 56px 56px 152px;
  height: 281px;
  width: 518px;
}
.rdesign {
  background: white;
  border-radius: inherit;
}
/* footer */
.footer-general {
  background: #212121;
}
.footer-general a.fs-14{ text-decoration: none; }
.footer-general a.fs-14:hover{ text-decoration: underline; }
.top_footer,
.bot_footer {
  max-width: 1180px;
}

.top_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px auto 50px;
  border-bottom: 1px solid #424242;
  padding-bottom: 50px;
  padding-top: 80px;
  max-width: 1180px;
  padding-left: 32px;
  padding-right: 32px;
}
.card-tinet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 24px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 12px 16px;
}
.tf_desc > p {
  max-width: 311px;
  padding-top: 15px;
}
.td_btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  padding-left: 144px;
}
.c-pf {
  color: #bdbdbd;
}
.td_btns ul li {
  padding-bottom: 8px;
  padding-right: 8px;
}
.td_btns ul li:last-child {
  padding-bottom: 0px;
}
.td_btns ul li:first-child {
  padding-bottom: 13px;
}
.td_btns ul li a:hover{
  text-decoration: underline;
}
.icoredes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.icoredes > a:first-child {
  margin-right: 25px;
}
.icoredes > a{
  transition: .5s;
}
.icoredes > a:hover{
  opacity: 0.7;
}
.icotext {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  min-width: 315px;
  padding-bottom: 10px;
}
.icotext > img {
  margin-right: 10px;
}
.padbot_60 {
  padding-bottom: 60px;
}
.bot_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 80px;
  max-width: 1180px;
}
.bf_left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
.c_ea {
  display: flex;
}
.pabo20 {
  padding-bottom: 20px;
}
.bf_right {
  width: 50%;
}
.bf_right > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-start;
}
.bf_right > p {
  text-align: right;
  padding-top: 16px;
}
.lr {
  border-right: 1px solid white;
  padding-right: 20px;
  margin-right: 20px;
}
.c_ea > img:first-child {
  margin-right: 30px;
}
@media (min-width: 1440px) {
  .top_footer,
  .bot_footer {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 1280px) {
  .footer-general {
    width: 100%;
  }
}
@media only screen and (max-width: 1094px) {
  .top_footer {
    margin: 0px 0px 50px;
  }
}
@media only screen and (max-width: 768px) {
  .footer-general {
    padding: 0px;
  }
  .top_footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
  }
  .tf_desc > p {
    padding-bottom: 32px;
    max-width: inherit;
  }
  .td_btns {
    padding-left: 0px;
    padding-top: 40px;
  }
  .bot_footer {
    margin: 0 25px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bf_left,
  .bf_right {
    width: 100%;
  }
  .bf_right {
    padding-top: 40px;
  }
  .bf_right > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }
  .bf_right > p {
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  .td_btns {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    padding-top: 0px;
  }
  .td_btns ul {
    margin-top: 30px;
  }
  .bf_left {
    flex-direction: column;
  }
  .ea_f {
    padding-bottom: 45px;
  }
  .bf_right > div {
    justify-content: flex-start;
  }
  .bf_right > p {
    text-align: left;
  }
}
/* fin footer */
.pesta-page {
  border-radius: 0px 0px 0px 144px;
  width: 100%;
  padding-left: 132px;
}

@media only screen and (max-width: 1094px) {
  .res-fw-1 {
    font-weight: 100;
  }
  .res-fw-2 {
    font-family: Poppins-ExtraLight;
  }
  .res-fw-3 {
    font-family: Poppins-Light;
  }
  .res-fw-4 {
    font-family: Poppins-Regular;
  }
  .res-fw-5 {
    font-family: Poppins-Medium;
  }
  .res-fw-6 {
    font-family: Poppins-SemiBold;
  }
  .res-fw-7 {
    font-family: Poppins-Bold;
  }
  .res-fw-8 {
    font-family: Poppins-ExtraBold;
  }
  .res-fw-9 {
    font-family: Poppins-Black;
  }
}

.slide-circle .rounded-full{
  cursor: pointer;
}
.slide-circle .slick-current .rounded-full{
  cursor: default;
}

.numbers{
  background: url(../img/numbers_bg.png) left 63px repeat-x;
}
.numbers__bg{
  background: url(../img/numbers_bgr.png) right top no-repeat;
}
.cellphone{
  background-color: #EFF9FF;
}
.somos-pilares{
  z-index: 1;
}
.somos-pilares button:hover{
  background: #006099;
  color:#fff;
}
.projects{
  padding: 300px 24px;
  position: relative;
  overflow: hidden;
}
.projects__wrapper{
  max-width: 100%;
  width: 1180px;
  margin: 0 auto;
  min-height: 700px;
  position: relative;
}
.projects__motto{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  width: 100%;
}
.projects__arrow{
  width: 40px;
  height: 40px;
  background: #003a5c;
  border-radius: 100%;
  display: inline-block;
  color: #ffffff;
  font-size: 0px;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
  cursor: pointer;
  text-align: center;
}

.projects__arrow:before{
  font-family: "icomoon";
  font-size: 11px;
  line-height: 40px;
}

.projects__arrow--left{
  left: 0;
}
.projects__arrow--left:before{
  content: "\e913";
}
.projects__arrow--right{
  right: 0;
}
.projects__arrow--right:before{
  content: "\e914";
}
.projects__card{
  background-color: #fff;
  border-radius: 12px;
  padding: 28px 20px;
  transition: .5s;
  position: absolute;
  z-index: 3;
  width: 450px;
  padding-right: 150px;
}
.projects__card--disabled{
  filter: blur(3px);
  transform: scale(0.5);
  z-index: 2;
  cursor: pointer;
}
.projects__card__logo{
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: .5s;
}
.projects__card__title, .projects__card__text, .projects__card__show{
  transition: .5s;
}
.projects__card__show{
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-left: 30px;
  display: inline-block;
  cursor: pointer;
}
.projects__card--disabled .projects__card__show{
  pointer-events: none;
}
.projects__card__show:after{
  content: '';
  background:  url(../img/eye.svg) left top no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 20px;
}
.projects__card:hover .projects__card__show:after{
  background-color: none;
  background:  url(../img/eye_white.svg) left top no-repeat;
}

.projects__card:hover:not(.projects__card--disabled){
  background-color: grey;
}
.projects__card--color1:hover:not(.projects__card--disabled){
  background-color: #510375;
}
.projects__card--color2:hover:not(.projects__card--disabled){
  background-color: #BB0000;
}
.projects__card--color3:hover:not(.projects__card--disabled){
  background-color: #ffa726;
}
.projects__card--color4:hover:not(.projects__card--disabled){
  background-color: #006099;
}
.projects__card--color5:hover:not(.projects__card--disabled){
  background-color: #510375;
}
.projects__card--color6:hover:not(.projects__card--disabled){
  background-color: #BB0000;
}
.projects__card--color7:hover:not(.projects__card--disabled){
  background-color: #510375;
}
.projects__card--color8:hover:not(.projects__card--disabled){
  background-color: #BB0000;
}

.projects__card:hover:not(.projects__card--disabled) .projects__card__logo{
  opacity: 0.7;
}
.projects__card:hover:not(.projects__card--disabled) .projects__card__show{
  color: #fff;
}
.projects__card:hover:not(.projects__card--disabled) .projects__card__show:after{

}
.projects__card:hover:not(.projects__card--disabled) .projects__card__title, .projects__card:hover:not(.projects__card--disabled) .projects__card__text{
  color: #fff;
}

.projects__overlay{
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
}
.projects__overlay--active{
  display: block;
}
.projects__sidebar{
  position: fixed;
  z-index: 50;
  right: -1000px;
  top: 0;
  display: inline-block;
  height: 100vh;
  background: #FFFFFF;
  padding: 40px 24px;
  padding: 160px 40px 30px;
  width: 735px;
  max-width: 100%;
  transition: .5s;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.projects__sidebar__background{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
.projects__sidebar__content{
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  z-index: 3;
}
.projects__sidebar--active{
  right: 0;
}
.projects__sidebar__close{
  position: absolute;
  display: inline-block;
  left: -20px;
  top: 14px;
  width: 40px;
  padding: 8px;
  z-index: 4;
  text-align: center;
  background-color: #C41A90;
}
.projects__sidebar__close i{
  color: #fff;
}
.projects__sidebar__testimony{
  padding: 12px 20px;
  display: flex;
  background: #E5EFF5;
  border-radius: 100px;
  align-items: center;
}
.projects__sidebar__testimony__img{
  margin-right: 20px;
  flex: 0 0 90px;
}
.projects__sidebar__testimony__img img{
  width: 92px;
  max-width: 100%;
  /*border-radius: 50% 50% 0 50%;*/
}
.projects__sidebar__area{
  padding-left: 0;
}
.projects__sidebar__area li{
  display: inline-block;
  margin-right: 5px;
}
.projects__sidebar__item{
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  color: #000;
  width: 40px;
  background-color: grey;
}
.projects__sidebar__item--ux{
  background: #C4A0E1;
}
.projects__sidebar__item--ui{
  background: #FFA726;
}
.projects__sidebar__item--dev{
  background: #006099;
  color: #fff;
}
.projects__sidebar__show{
  float: right;
  display: inline-block;
  background: #C41A90;
  border-radius: 40px 200px 200px 400px;
  padding: 16px 24px;
  padding-left: 40px;
  color: #FFFFFF;
}


#project1, #slick-slide00{ top: 5px; left: 5px; }
#project2, #slick-slide01{ top: 140px; left: 5px; }

#project3, #slick-slide02{ top: 5px; right: 5px; }
#project4, #slick-slide03{ top: 140px; right: 5px; }

#project5, #slick-slide04{ bottom: 5px; left: 5px; }
#project6, #slick-slide05{ bottom: 140px; left: 5px; }

#project7, #slick-slide06{ bottom: 5px; right: 5px; }
#project8, #slick-slide07{ bottom: 140px; right: 5px; }


.revolution{
  padding: 0 24px;
  overflow: hidden;
}
.revolution__wrapper{
  max-width: 100%;
  width: 1180px;
  margin: 0 auto;
  display: flex;
}
.revolution__main{
  padding: 90px 0 60px;
  width: 66%;
  position: relative;
}
.revolution__main__text{
  padding-right: 16px;
}
.revolution__sidebar{
  padding: 120px 24px 120px;
  width: 33%;
  position: relative;
  z-index: 3;
  background: #006099;
  display: none;
}
.revolution__sidebar--active{
  display: inline-block;
}
.revolution__sidebar__more{
  position: absolute;
  bottom: 60px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
}
.revolution__sidebar__more:after{
  content: '';
  display: inline-block;
  width: 50%;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  border-top: 1px dashed #fff;
}
.revolution__sidebar__more p{
  padding-right: 10px;
  background: #006099;
  position: relative;
  z-index: 3;
}
.revolution__sidebar__morebtn{
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/sidebarmore.svg);
}
.revolution__sidebar__logos img{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.revolution__sidebar__logos img:last-child{
  margin-bottom: 0;
  margin-right: 0;
}

.revolution__sidebar:after{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 100%;
  width: 1000px;
  height: 100%;
  background-color: #006099;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url(../img/ray.png);
}
.revolution__sidebar__content{
  padding-bottom: 0px;
  border-bottom: 1px dashed #fff;
}
.revolution__sidebar__content p a{
  text-decoration: underline;
  font-weight: 800;
}

.revolution__twrapper{
  position: relative;
}
.revolution__twrapper:after{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 2000px;
  height: 100%;
  background-color: #F5F5F5;
}
.revolution__tabs{
  display: table;
  width: 100%;
  position: relative;
  z-index: 3;
}
.revolution__tr{
  display: table-row;
}
.revolution__td{
  display: table-cell;
  width: 25%;
  height: 280px;
  vertical-align: bottom;
  padding: 18px 14px 32px;
  transition: .5s;
  cursor: pointer;
  position: relative;
  background-color: #F5F5F5;
}
.revolution__td--active{
  background-color: #006099;
  vertical-align: top;
}
.revolution__td--active:after, .revolution__td--active:hover:after{
  display: none;
}
.revolution__td:hover{
  padding-bottom: 50px;
  background-color: #e7eef4;
}
.revolution__td:hover:after{
  right: 14px;
  opacity: 1;
}
.revolution__td:after{
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  right: 30px;
  bottom: 14px;
  position: absolute;
  transition: .5s;
  background-image: url(../img/revplus.svg);
  opacity: 0;
}
.revolution__td__content{
  color: #212121;
  padding-top: 12px;
  position: relative;
}
.revolution__td__content:after{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 5px;
  width: 60px;
  background: #C41A90;
}
.revolution__td--active #revcontent1:after, .revolution__td--active #revcontent2:after, .revolution__td--active #revcontent3:after, .revolution__td--active #revcontent4:after{
  background: #26C6DA;
}
.revolution__td--active .revolution__td__content{
  color: #fff;
}
.revolution__td--active .revolution__td__content:after{
  background: #26C6DA;
}

#revtd1.revolution__td--active, #revmore1, #revcontent1:after,
#revsidebar1.revolution__sidebar, #revsidebar1.revolution__sidebar:after{
  background-color: #006099;
}
#revtd2.revolution__td--active, #revmore2, #revcontent2:after,
#revsidebar2.revolution__sidebar, #revsidebar2.revolution__sidebar:after{
  background-color: #ffa726;
}
#revtd3.revolution__td--active, #revmore3, #revcontent3:after,
#revsidebar3.revolution__sidebar, #revsidebar3.revolution__sidebar:after{
  background-color: #C41A90;
}
#revtd4.revolution__td--active, #revmore4, #revcontent4:after,
#revsidebar4.revolution__sidebar, #revsidebar4.revolution__sidebar:after{
  background-color: #F44336;
}

.revolution__ruler{
  width: 100%;
  display: block;
  height: 32px;
  position: relative;
}
.revolution__axis{
  display: inline-block;
  position: absolute;
  transition: .5s;
}
.revolution__axis:after{
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #66A0C2;
  z-index: 3;
}
.revolution__axisx{
  border-top: 1px dashed #9E9E9E;
  width: 100%;
  top: 0;
  right: 0;
}
.revolution__axisx:after{
  right: 0;
  top: 0;
  transform: translate(0,-50%);
}
.revolution__axisy{
  border-left: 1px dashed #9E9E9E;
  height: 32px;
  right: 100%;
  bottom: 0;
}
.revolution__axisy:after{
  left: 0;
  bottom: 0;
  transform: translate(-50%, 0);
}
.revolution__axisx.revolution__axis1{ width: 87.5%;}
.revolution__axisy.revolution__axis1{ right: 87.5%;}
.revolution__axisx.revolution__axis2{ width: 62.5%;}
.revolution__axisy.revolution__axis2{ right: 62.5%;}
.revolution__axisx.revolution__axis3{ width: 37.5%;}
.revolution__axisy.revolution__axis3{ right: 37.5%;}
.revolution__axisx.revolution__axis4{ width: 12.5%;}
.revolution__axisy.revolution__axis4{ right: 12.5%;}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.tinet-input {
  display: flex;
}
.tinet-input__checkbox {
  background: #ffffff;
  border: 1px solid #000000;
}
.tinet-input__checkbox--label {
  font-size: 10px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #000000;
  margin-left: 8px;
}

.g-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-tab .g-tab--items {
  font-weight: bold;
  padding: 8px 24px;
  cursor: pointer;
  color: #006099;
  border-radius: 30px;
  text-align: center;
}

.g-tab .g-tab--items.active {
  background-color: #006099;
  color: white;
}

.plainoverlay.plainoverlay-doc {
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0;
}

.modal-full {
  background-color: white;
  left: 0;
  width: 100%;
  height: 90%;
  bottom: 0;
}
.modal-no-full {
  width: initial;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal-second {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    z-index: 999;
    position: relative;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal-proposal .modal__overlay {
  align-items: flex-end;
}
.modal-proposal .modal__overlay.noflexend {
  align-items: center;
}
.modal-proposal .modal__overlay .modal-full {
  height: initial;
}

.modal-proposal .modal__overlay .modal__container {
  max-width: 100%;
  padding: 0;
}

.btn-tab.bg-sc-5:hover, .btn-banner:hover, .bot-side-nav a:hover {
  background-color: #891265;
}
.content-response-section {
  max-width: 1180px;
  margin: 0px auto;
  display: flex;
}

/* Tab */
.tab-primary .tab-button {
  font-size: 14px;
  padding: 12px 16px;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
}

.tab-primary .tab-button.active {
  background-color: white;
  color: #424242;
}

.tab-primary .content,
.tab-secondary .content2 {
  display: none;
}

.tab-primary .content.active,
.tab-secondary .content2.active2 {
  display: block;
}
.content-response-section button{
  transition: .5s;
}

.tab-secondary .tab-button2 {
  padding: 12px 16px;
  padding: 20px;
  color: #006099;
  font-family: Poppins-SemiBold;
  border-bottom: 1px solid #EEEEEE;
  transition: .5s;
}
.tab-secondary .tab-button2 i{
  pointer-events: none;
}

.tab-secondary .tab-button2.active2 {
  background-color: #E0F7FA;
  font-weight: 700;
  color: #003A5C;
  padding-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .projects__motto h2{ font-size: 36px; line-height: 36px; padding: 11px 0; }
  .projects__motto h3{ font-size: 20px; line-height: 20px; }
  .projects__card{
    padding-right: 20px;
    width: 320px;
  }
  .projects__card__show{
    position: relative;
    bottom: initial;
    right: initial;
    margin-top: 5px;
  }
  .revolution__wrapper{
    display: block;
  }
  .revolution__twrapper:after, .revolution__sidebar:after{
    display: none;
  }
  .revolution__main, .revolution__sidebar{
    width: 100%;
  }
  .revolution__main{
    padding: 60px 0 0;
  }
  .revolution__sidebar{
    padding: 60px 24px 120px;
  }
  .footer-general {
    width: 1180px;
    max-width: 100%;
  }
  .top_footer,
  .bot_footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .bot_footer {
    padding-top: 30px;
  }
  .top_footer .td_btns {
    padding-left: 0;
  }
}

@media only screen and (max-width: 800px){

  .projects{
    padding: 500px 48px 120px 48px;
  }
  .projects__wrapper{
    min-height: 0;
    padding: 35px 0 80px;
  }
  .projects .slick-dots{
    bottom: -70px;
  }
  .projects .slick-dots li button:before{
    color: #006099;
  }
  .projects .slick-dots li.slick-active button:before{
    opacity: 1;
    color: #C41A90;
  }
  .projects__slider .slick-list{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
  }
  .projects__card--disabled{
    cursor: inherit;
  }
  .projects__card--disabled .projects__card__show{
    pointer-events: initial;
  }
  .projects__card{
    position: initial;
    width: auto;
    min-height: 250px;
    padding-top: 34px;
    padding-right: 20px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  }
  .projects__card__logo{
    opacity: 1;
    position: relative;
    right: initial;
    top: initial;
    margin: 0 auto;
  }
  .projects__card__title{
    display: none;
  }
  .projects__card:hover:not(.projects__card--disabled) .projects__card__title,
  .projects__card:hover:not(.projects__card--disabled) .projects__card__text {
    color: #424242;
  }
  .projects__card:hover:not(.projects__card--disabled) .projects__card__show {
    color: #c41a90;
  }
  .projects__card:hover:not(.projects__card--disabled) .projects__card__show:after {
    background: url(../img/eye.svg) left top no-repeat;
  }
  .projects__card:hover .projects__card__show::after {
    background: url(../img/eye.svg) left top no-repeat;
  }
  .projects__card--color1:hover:not(.projects__card--disabled),
  .projects__card--color2:hover:not(.projects__card--disabled),
  .projects__card--color3:hover:not(.projects__card--disabled),
  .projects__card--color4:hover:not(.projects__card--disabled),
  .projects__card--color5:hover:not(.projects__card--disabled),
  .projects__card--color6:hover:not(.projects__card--disabled),
  .projects__card--color7:hover:not(.projects__card--disabled),
  .projects__card--color8:hover:not(.projects__card--disabled),
  .projects__card:hover:not(.projects__card--disabled){
    background-color: #fff;
  }
  .projects__card--disabled{
    filter: blur(0);
    transform: scale(1);
  }
  .projects__card__text{
    margin-top: 42px;
  }
  .projects__card__show{
    margin-top: 15px;
  }
  .projects__sidebar{
    right: 0;
    top: 100vh;
    padding: 0;
  }
  .projects__sidebar--active{
    top: 0;
  }
  .projects__sidebar__close{
    left: initial;
    right: 24px;
    padding: 0;
    background: none;
    width: auto;
  }
  .projects__sidebar__close i{
    color: #757575;
  }
  .projects__sidebar__content{
    padding: 0px 24px 24px;
  }
  .projects__sidebar__background{
    display: none;
  }
  .projects__motto{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
  }
  .projects__arrow{
    display: none;
  }

  .revolution{
    padding-bottom: 60px;
  }
  .revolution__ruler{
    display: none;
  }
  .revolution__tabs, .revolution__tr, .revolution__td{
    display: block;
    width: 100%;
  }
  .revolution__tr .revolution__td:last-child{
    margin-bottom: 0;
  }
  .revolution__td{
    margin-bottom: 15px;
    background: #FAFAFA;
    padding: 20px;
    height: auto;
    padding-bottom: 50px;
    min-height: 230px;
  }
  .revolution__td:after{
    opacity: 1;
    right: 14px;
  }
  .revolution__td.revolution__td--active:after{
    display: inline-block;
  }
  .revolution__sidebar{
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: .5s;
    display: block;
    z-index: 60;
  }
  .revolution__sidebar.revolution__sidebar--active{
    top: 0;
  }
  .revolution__sidebar__close{
    position: absolute;
    right: 14px;
    top: 14px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/sidebarclose.svg);
  }
  #revtd1.revolution__td--active, #revtd2.revolution__td--active,
  #revtd3.revolution__td--active, #revtd4.revolution__td--active{
    background: #FAFAFA;
  }
  .revolution__td--active .revolution__td__content{
    color: #212121;
  }
  .revolution__td--active .revolution__td__content .fs-12{
    font-size: 14px;
    line-height: 20px;
  }
  .revolution__main__text .fs-56{
    font-size: 32px;
    line-height: 40px;
  }
  .revolution__main__text .fs-15{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 45px;
  }
}
#navbar .dot {
  border-left: 4px solid transparent;
  transition: all 0.2s;
}
#navbar .dot.active {
  border-left: 4px solid #006099;
  transition: all 0.2s;
}

.btrr{
  border-top-right-radius: 131px;
}
.btn-banner{
  border-radius: 20px 100px 100px 170px;
  padding: 16px 24px;
}
.bgsideblack{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(13,13,13,1) 50%, rgba(13,13,13,1) 100%);
}
@media(max-width:768px){
  .bgsideblack{
    background: rgb(255,255,255);
  }
}
.initSlideVideo {
  animation: slidevideo 1s ease-in-out;
  animation-fill-mode: forwards;
}
.initSlideVideorv {
  animation: slidevideorv 1s ease-in-out;
  animation-fill-mode: forwards;
}
.initline {
  animation: slideline 2s ease-out;
  animation-fill-mode: forwards;
}
.initlinerv {
  animation: slidelinerv 2s ease-out;
  animation-fill-mode: forwards;
}
.initline2 {
  animation: slideline2 2s ease-out;
  animation-fill-mode: forwards;
}
.initline2rv {
  animation: slideline2rv 2s ease-out;
  animation-fill-mode: forwards;
}
.initline3 {
  animation: slideline3 1s ease-in-out;
  animation-fill-mode: forwards;
}
.initline3rv {
  animation: slideline3rv 1s ease-in-out;
  animation-fill-mode: forwards;
}
.initline4 {
  animation: slideline4 3s ease-in-out;
  animation-fill-mode: forwards;
}
.initline4rv {
  animation: slideline4rv 3s ease-in-out;
  animation-fill-mode: forwards;
}
.inittexto {
  animation: textoan 1s ease-in-out;
  animation-fill-mode: forwards;
}
.inittextorv {
  animation: textoanrv 1s ease-in-out;
  animation-fill-mode: forwards;
}
.inittexto2 {
  animation: textoan2 1s ease-in-out;
  animation-fill-mode: forwards;
}
.inittexto2rv {
  animation: textoan2rv 1s ease-in-out;
  animation-fill-mode: forwards;
}
.backbtntrg {
  animation: backb 3s ease-out;
  animation-fill-mode: forwards;
}
.backbtntrgrv {
  animation: backbrv 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes slidevideo {
  from {
    right: -650px
  }
  to {
    right: 250px
  }
}
@keyframes slidevideorv {
  from {
    right: 250px
  }
  to {
    right: -650px
  }
}
@keyframes slideline {
  from {
    right: 330px
  }
  to {
    right: 1220px
  }
}
@keyframes slidelinerv {
  from {
    right: 1220px
  }
  to {
    right: 330px
  }
}
@keyframes slideline2 {
  from {
    right: -65px
  }
  to {
    right: 1320px
  }
}
@keyframes slideline2rv {
  from {
    right: 1320px
  }
  to {
    right: -65px
  }
}
@keyframes slideline3 {
  from {
    right: -312px
  }
  to {
    right: 1320px
  }
}
@keyframes slideline3rv {
  from {
    right: 1320px
  }
  to {
    right: -312px
  }
}
@keyframes slideline4 {
  from {
    right: -10px
  }
  to {
    right: 223px
  }
}
@keyframes slideline4rv {
  from {
    right: 223px
  }
  to {
    right: -10px
  }
}
@keyframes textoan {
  from {
    opacity: 1
  }
  to {
    opacity: 0;
  }
}
@keyframes textoanrv {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes textoan2 {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(-100%, 0);
  }
}
@keyframes textoan2rv {
  from {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes backb {
  from {
    opacity: 0;
    left: 1000px;
  }
  to {
    opacity: 1;
    left: 148px
  }
}
@keyframes backbrv {
  from {
    opacity: 1;
    left: 148px
  }
  to {
    opacity: 0;
    left: 1000px;
  }
}

/* animation home */
.rw-words{
	display: block;
	text-indent: 10px;
  position: relative;
  height: 64px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
  width: 100%;
  left: 0px;
	-webkit-animation: rotateWord 6s linear infinite 0s;
	-ms-animation: rotateWord 6s linear infinite 0s;
	animation: rotateWord 6s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	animation-delay: 2s;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	4% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    27% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}
@media only screen and (max-width: 1020px){
  .rw-words {
    display: block;
    text-indent: 10px;
    position: relative;
    height: 41px;
  }
}
ul.listaselect {
  display: none;
}
.seleccionado {
  display: block;
}
.trianguloinf::before {
  content: "\e913";
  font-family: "icomoon";
  position: absolute;
  right: 26px;
  top: 17px;
  width: 0;
  rotate: 270deg;
}
.triangulosup::before {
  content: "\e913";
  font-family: "icomoon";
  position: absolute;
  right: 26px;
  top: 8px;
  width: 0;
  rotate: 92deg;
}