#cultura-experience{
  padding: 120px 0px;
  position: relative;
}
.cultura-experience-head, .cultura-experience-wrapper{
  width: 1180px;
  max-width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}
.cultura-experience-header{
  width: 600px;
  max-width: 100%;
  margin-bottom: 55px;
  padding-left: 24px;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.nopointer{
  pointer-events: none;
}
@media (max-width:490px){
  .cultura-experience-header{
    padding-left: 0px;
  }
  .cultura-experience-header > h2{
    font-size: 51px;
    line-height: 57px;
  }
}
.cultura-experience-body{
  position: relative;
}
.cultura-experience-start{
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  transform: translate(-100%);
}

.cultura-experiencie-startline:after{
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  background-color: #C41A90;
  transform: translate(-50%,50%);
  opacity: 0;
  transition: 5s;
}
.cultura-experiencie-startline{
  right: 0;
  position: relative;
  width: 200px;
  height: 200px;
  border: 0px;
  border-bottom: 2px dashed #b0bec5;
  border-right: 2px dashed #b0bec5;
  border-radius: 40px 0px;
}
.active-reveal .cultura-experiencie-startline{
  animation-name: purpledot;
  animation-duration: 6s;
  animation-timing-function: linear;
}
.active-reveal .cultura-experiencie-startline:after{
  opacity: 1;
}
@keyframes purpledot {
  0%    { width: 0; height: 0;}
  50%   {width: 0px; height: 200px;}
  100%  {width: 200px; height: 200px;}
}


.cultura-experience-line{
  position: absolute;
  display: inline-block;
  border-top: 2px dashed #90A4AE;
  transition: 8s;
  z-index: 1;
  left: 0;
  top: 180px;
  height: 0;
  width: 0;
}
.cultura-experience-line:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  transform: translate(0,-50%);
  background-color: #C41A90;
  right: 0;
  top: 0;
  z-index: 2;
}
.active-reveal .cultura-experience-line{
  width: calc(50% + 590px - 50px);
}
.cultura-experience-wrapper{
  position: relative;
  z-index: 3;
}
.cultura-slider .slick-arrow{
  width: 40px;
  height: 40px;
  background: #003a5c;
  border-radius: 100%;
  display: inline-block;
  color: #ffffff;
  font-size: 0px;
  top: 30%;
  transform: translate(0%,-50%);
  transition: 0.5s;
  z-index: 4;
}
.cultura-slider .slick-arrow.slick-disabled{
  opacity: 0.5;
  cursor: default;
}
.cultura-slider .slick-arrow:before{
  font-family: "icomoon";
  font-size: 11px;
}
.cultura-slider .slick-arrow.slick-disabled:before{
  opacity: 1;
}
.cultura-slider .slick-prev{
  left: -40px;
}
.cultura-slider .slick-next{
  right: -40px;
}
.cultura-slider .slick-prev:before{
  content: "\e913";
}
.cultura-slider .slick-next:before{
  content: "\e914";
}
.cultura-slider-card{
  padding: 0px 24px 20px;
}
.cultura-slider-card h5{
  min-height: 166px;
  margin-bottom: 10px;
}
.cultura-slider-card p{
  position: relative;
}
.cultura-slider-circle{
  position: absolute;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  top: -56px;
  z-index: 2;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.entr{
    display: none;
}
.entr.active{
    display: flex;
}
.bnd{
    border-radius: 26px 100px 100px 193px;
    padding: 12px 80px;
}
.vid-btn-tabs{
    list-style: none;
}
.vid-btn-tabs > li{
    border: 2px solid #FAFAFA;
    background-color: transparent;
    color: #FAFAFA;
    margin-right: 16px;
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
}
.vid-btn-tabs > li.active{
    color: #424242;
    background-color: #FAFAFA;
}
.cvn > li{
    display: none;
}
.cvn > li.active{
    display: block;
}
.cvn > li.opacity0{
  opacity: 0;
  transition: 0.5s;
}
.cvn > li.opacity1{
  opacity: 1;
}
.slide-v-nav{
}
.slide-v-nav-img{
  position: relative;
  margin-top: 4px;
}
.slider-v-nav .slick-slide,
.slider-v-nav-2 .slick-slide,
.slider-v-nav-3 .slick-slide,
.slider-v-nav-4 .slick-slide{
    transition: all ease .2s;
    -webkit-transition: all ease .2s;
    position: relative;
    cursor: pointer;
}
.slider-v-nav .slick-slide img.pl,
.slider-v-nav-2 .slick-slide img.pl,
.slider-v-nav-3 .slick-slide img.pl,
.slider-v-nav-4 .slick-slide img.pl{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.slider-v-nav .slick-slide.slick-current .slide-v-nav-img,
.slider-v-nav-2 .slick-slide.slick-current .slide-v-nav-img,
.slider-v-nav-3 .slick-slide.slick-current .slide-v-nav-img,
.slider-v-nav-4 .slick-slide.slick-current .slide-v-nav-img{
    /*border: 4px solid #C41A90;*/
    outline: 4px solid #C41A90;
    border-radius: 12px;
    overflow: hidden;
}
.slide-circle .slick-slide{
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
}
.bbb{
    border-top-left-radius: 10000000px;
    border-top-right-radius: 10000000px;
    border-left: 1px dashed #66A0C2;
    border-top: 1px dashed #66A0C2;
    border-right: 1px dashed #66A0C2;
    border-bottom: none;
}
.bbb-alt{
  position: absolute;
  display: block;
  top: 240px;
  width: 100vw;
  height: 30.9vw;
  max-height: 280px;
  overflow: hidden;
}
.bbb-alt:before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dashed #66A0C2;
  width: 100vw;
  height: 100vw;
  border-radius: 50%;
}
.tinet-btns{
  padding: 12px 24px;
  background: #C41A90;
  border-radius: 42px 160px 160px 257px;
  margin-top: 26px;
}
.bx-b, .bx-b *{
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  cursor: default;
}
.bx-b:hover, .bx-b.activo{
  border-left: 8px solid #C41A90;
}
.bx-b > p{
  opacity: 0;
  margin-top: -35px;
}
.bx-b:hover > p, .bx-b.activo > p{
  opacity: 1;
  margin-top: 0px;
}
@media (max-width:768px){
    .vid-btn-tabs{
        overflow-x: scroll;
        display: -webkit-inline-box !important;
        padding-bottom: 20px;
    }
}
/***/
.slide-circle .slick-slide:not(.slick-active){
    transform: scale(.75);
    margin-top: 150px;
}
.slide-circle .slick-slide.peque-r{
    transform: scale(.45);
    margin-top: 390px;
    margin-right: 200px;
}
.slide-circle .slick-slide.peque-l{
    transform: scale(.45);
    margin-top: 390px;
    margin-left: 200px;
}
/* animaciones */
.fade-in {
	-webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
	        animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
.fade-out-top {
	-webkit-animation: fade-out-top 0.5s ease-in-out 0.9s both;
	        animation: fade-out-top 0.5s ease-in-out 0.9s both;
}
.fade-out-bottom {
	-webkit-animation: fade-out-bottom 0.5s ease-in-out 0.9s both;
	        animation: fade-out-bottom 0.5s ease-in-out 0.9s both;
}
.fade-out {
	-webkit-animation: fade-out 1s ease-in-out 2s both;
	        animation: fade-out 1s ease-in-out 2s both;
}
.fade-in {
	-webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
 @-webkit-keyframes fade-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
  }
  @keyframes fade-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
  }
  
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@-webkit-keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
  }
  @keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
  }
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @media (min-width: 1440px){
    .bbb-alt:before{
      height: 1200px;
      width: 1200px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .slideBeneficios{
    display: none;
  }


  .i-tabs{
    margin: 16px 0;
  }
.i-tabs li{
    cursor: pointer;
    color: #006099;
    padding: 8px 24px;
    background: white;
    border-radius: 100px;
    transition: all ease .3s;
    margin: 0 30px;
    border: 1px solid transparent;
}
.i-tabs li:hover {
    border: 1px solid #006099;
}
.i-tabs li.active{
    background: #006099;
    color: white;
}
.i-tab li,
.i-tabs li {
    list-style: none;
    display: inline-block;
}


  /* circulo v2 */
  .carouselv {
    display: flex;
    width: 100%;
    height: 785px;
    align-items: center;
    font-family: Arial;
  }
  .carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 720px;
    justify-content: center;
    perspective: 300px;
  }
  .carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    font-size: 0px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in;
    background-color: white;
  }
  .carousel__item *{
    transition: all 0.3s ease-in;
  }
  .carousel__item[data-pos="0"] {
    z-index: 5;
  }
  .carousel__item[data-pos="0"] > img {
   margin-bottom: 24px;
  }
  .carousel__item[data-pos="0"] > h4 {
    font-size: 24px;
    line-height: 32px;
    color: #424242;
    margin-bottom: 8px;
    text-align: center;
   }
  .carousel__item[data-pos="0"] > p {
    font-size: 20px;
    line-height: 28px;
    padding: 0 65px;
    color: #616161;
    text-align: center;
    padding-bottom: 30px;
   }

  .carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  }
  .carousel__item[data-pos="-1"] > img, .carousel__item[data-pos="1"] > img {
    transform: scale(.7);
  }
  .carousel__item[data-pos="-1"] > h4, .carousel__item[data-pos="1"] > h4 {
    font-size: 16px;
    line-height: 24px;
    color: #424242;
    text-align: center;
  }
  .carousel__item[data-pos="-1"] > p, .carousel__item[data-pos="1"] > p {
    font-size: 13px;
    line-height: 20px;
    color: #616161;
    text-align: center;
    padding: 0px 80px;
  }
  .carousel__item[data-pos="-1"] {
    transform: translateX(-120%) scale(0.9);
    z-index: 4;
    margin-top: 200px;
    height: 330px;
    width: 330px;
  }
  .carousel__item[data-pos="1"] {
    transform: translateX(120%) scale(0.9);
    z-index: 4;
    margin-top: 200px;
    height: 330px;
    width: 330px;
  }
  .carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  }
  .carousel__item[data-pos="-2"] > h4, .carousel__item[data-pos="2"] > h4 {
    display: none;
  }
  .carousel__item[data-pos="-2"] > p, .carousel__item[data-pos="2"] > p {
    display: none;
  }
  .carousel__item[data-pos="-2"] > img, .carousel__item[data-pos="2"] > img {
    transform: scale(.7);
    margin-bottom: 0px;
  }
  .carousel__item[data-pos="-2"] {
    transform: translateX(-250%) scale(0.8);
    z-index: 3;
    margin-top: 450px;
    height: 230px;
    width: 230px;
  }
  .carousel__item[data-pos="2"] {
    transform: translateX(250%) scale(0.8);
    z-index: 3;
    margin-top: 450px;
    height: 230px;
    width: 230px;
  }

  @media (max-width: 1240px){
    .cultura-slider .slick-arrow{
      width: 20px;
      height: 20px;
      top: 40%;
    }
    .cultura-experience-header{
      padding-left: 12px;
    }
    .cultura-slider-card{
      padding: 0px 12px 20px;
    }
    .cultura-slider .slick-prev{
      left: -10px;
    }
    .cultura-slider .slick-next{
      right: -10px;
    }
  }
  @media (max-width: 1180px){
    .cultura-slider .slick-arrow{
      top: 40%;
    }
    .active-reveal .cultura-experience-line{
      width: calc(100% - 24px);
    }
    .cultura-experiencie-startline{
      height: 95px;
    }
    @keyframes purpledot {
      0%    { width: 0; height: 0;}
      50%   {width: 0px; height: 95px;}
      100%  {width: 200px; height: 95px;}
    }
    .carousel__item[data-pos="-1"] > p, .carousel__item[data-pos="1"] > p{
      padding-bottom: 20px;
    }
  }
  @media (max-width: 800px){
    .cultura-slider-circle{
      display: none;
    }
    .cultura-slider .slick-arrow{
      top: initial;
      bottom: -80px;
      width: 40px;
      height: 40px;
      transform: translate(0);
    }
    .cultura-slider .slick-prev{
      left: initial;
      right: 50%;
      margin-right: 15px;
    }
    .cultura-slider .slick-next{
      right: initial;
      left: 50%;
      margin-left: 15px;
    }
    .cultura-slider-card h5{
      min-height: 120px;
    }
    .cultura-experience-line{
      top: 124px;
    }
  }
  @media (max-width:640px){
    .slideBeneficios{
      display: block;
    }
    .relative .seeMoreB{
      display: none;
    }
    .slideBe .bx-b {
      border-left: 8px solid #C41A90;
    }
    .slideBe .slick-arrow{
      margin-top: 15px;
    }
    .bx-b > p{
      opacity: 1;
      margin-top: 0px;
    }
  }
  @media (max-width:768px){
    .i-tabs li{
      margin: 0 10px;
      padding: 4px 17px;
    }
  }
  @media (max-width:570px){
    .i-tabs li{
      margin: 0 2px;
      padding: 4px 10px;
    }
  }

  @media (max-width:678px){
    #roundslider .carouselvtxt{
      margin-top: -140px;
    }
    .carousel__item[data-pos="0"] > img {
      margin-bottom: 9px;
    }
    .carousel__item[data-pos="0"] > h4 {
      font-size: 16px;
      line-height: 24px;
    }
    .carousel__item[data-pos="0"] > p {
      font-size: 10px;
      line-height: 12px;
      padding: 0 30px;
    }
    .carousel__item[data-pos="1"] > h4, .carousel__item[data-pos="-1"] > h4 {
      display: none;
    }
    .carousel__item[data-pos="-1"] > p, .carousel__item[data-pos="1"] > p {
      display: none;
    }
    .carouselv{
      height: 430px;
      margin-top: 30px;
    }
    .carousel__list{
      height: 410px;
    }
    .carousel__item{
      width: 250px;
      height: 250px;
    }
    .carousel__item[data-pos="-1"] {
      transform: translateX(-170%) scale(0.95);
      z-index: 4;
      margin-top: 180px;
      height: 100px;
      width: 100px;
    }
    .carousel__item[data-pos="1"] {
      transform: translateX(170%) scale(0.95);
      z-index: 4;
      margin-top: 175px;
      height: 100px;
      width: 100px;
    }
    .carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
      opacity: 0.4;
    }
    .carousel__item[data-pos="-2"] {
      transform: translateX(-260%) scale(0.85);
      z-index: 3;
      margin-top: 270px;
      height: 90px;
      width: 90px;
    }
    .carousel__item[data-pos="2"] {
      transform: translateX(260%) scale(0.85);
      z-index: 3;
      margin-top: 270px;
      height: 90px;
      width: 90px;
    }
  }